.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  flex-direction: column;
  width: 1100px;
  height: -moz-fit-content;
  height: 720px;
  position: relative;
  margin: auto;
  top: 12%;
  text-align: center;
}

.box__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 15px 35px -10px rgb(2 45 235 / 50%);
  height: 500px;
  width: 350px;
  padding: 15px;
}

.box h2 {
  color: var(--color-primary-50);
  font-size: 26px;
  letter-spacing: 2px;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 20px;
  margin-top: 23px;
  text-transform: lowercase;
}

.box p {
  font-size: 30px;
  color: var(--color-primary-100);
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  line-height: 65px;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: rgb(230 235 255 / 50%);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.9);
  align-items: center;
}

.icon img {
  width: 70%;
  height: 70%;
}

@media (max-width: 499px) {
  .box {
    grid-template-columns: repeat(1, 1fr);
    width: 365px;
    margin-top: -5%;
    margin-bottom: 11%;
    height: auto;
  }

  .box__item {
    height: 355px;
  }
  .box h2 {
    font-size: 23px;
  }

  .box p {
    font-size: 20px;
    line-height: 50px;
  }
}

@media (max-width: 1024px) {
}
