.persons {
  position: relative;
  width: 100vw;
  background-color: #000;
  height: 100vh;
}

.persons__heading {
  display: flex;
  justify-content: center;
  z-index: 200;
}

.persons__heading h1 {
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--color-primary-50);
  font-family: 'Spartan', sans-serif;
}
